
.container{
	width: 200px;
	height: 200 px;
	background-color: #8e9dcc;
	margin: 20px;
	display: inline-block;
}

body {
	/*solutions for removing scroll on entire webpage*/
	/*overflow-y: hidden;*/
	font-family: monospace;

}
 /*syntax to grab all the divs that are children of .container class on div*/
div.container > div, .sticky-child{
	width: 75px;
	height: 75px;
	background-color: #d9dbf1;
}

.static-child{
	/*doesnt do anything, default*/
	position: static;
}

/*adding a , makes rule apply to both classes*/
/*shorthand for writing the rule twice*/
.relative-child, .relative-parent{
	position: relative;
}



.absolute-child{
	position: absolute;
	top: 100px;
	left: 0;
}

.down-under{
	position: absolute;
	top: 1000px;
}

.fixed-child{
	position: fixed;	
}

.sticky-child{
	position: fixed;
	top:500px;
	z-index: 999;
}

.big-container > img{
	z-index: 999;
}
